body {
  background-color: lightgrey;
  font-family: 'Press Start 2P', cursive;
}
#game {
  border: 10px solid;
  margin: 10px;
  /*float: left;*/
}

#game-play {
  float: right;
  background-color: inherit;;
  height: 580px;
  border: 10px dotted black;
  width: 35%;
  margin: 10px;

}

.score-section {
  padding: 20px;
  margin-left: 15%;
  display: inline-block;
}


h1 {
  padding: 20px;
  font-size: 20px;
  margin-left: 25%;
}

/*.game-canvas {
  border: 1px solid;
  margin: auto;
  display: block;
}*/
