body {
  background-image: url(../media/vt-hall.jpg);
  background-repeat: no-repeat;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

p {
  margin-left: 10%;
  padding: 20px 10px;
  line-height: 30px;
}

h1 {
  margin-left: 10%;
  padding: 20px;
  font-size: 30px;
}

#game {
  margin-top: 4%;
  margin-left: 4%;
  background-color: black;
  border: 10px solid #32CD32;
}

#game-play {
  float: right;
  margin-top: 4%;
  margin-right: 4%;
  width: 30%;
  height: 580px;
  background-color: black;
  border: 10px dotted #32CD32;
}

.win-lose {
  color: #D133D5;
}

.audio {
  float: left;
  margin-top: 10%;
  margin-left: 5%;
  clear: both;
}
