body {
  background-color: lightgrey;
}
#game {
  border: 10px solid;
  margin: auto;
  display: block;
}

#score {
  margin: auto;
}

.game-canvas {
  border: 1px solid;
  margin: auto;
  display: block;
}
